@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h1 class="display-4">API自动化测试</h1>
        <button>新建自动化测试项目</button>
    </div>
    <div>
        
    </div>
</div>
